doctype html
head
  meta(charset="utf-8")
  title= title
  include includes/assets

body
  h1 This could be your neighbour
  #tcbyn

  script.
    app.start({"selector": 'tcbyn', "baseUrl": "localhost:8000"});
  if env == 'development'
    script(src="http://localhost:35729/livereload.js")